<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="x-apple-disable-message-reformatting" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	<style type="text/css" rel="stylesheet" media="all">
		body {
			width: 95%; height: 95%;
			margin: 10px;
			padding: 10px;
			font-family: "Verdana", Helvetica, Arial, sans-serif;
			line-height: 1.5;
			color: #303030;
			font-size: smaller;
		}
		p.action {
			padding: 0.5em 2em 0.5em 2em;
		}
		a.action {
			text-decoration: none;
			color: #f0f0f0;
			font-weight: bolder;
			padding: 0.5em 1em 0.5em 1em;
			background-color: #5514b4;
		}
		p.alternate {
			font-style: italic;
			font-size: smaller;
		}
	</style>
</head>
<body>
	<p>Hello {{$.user.First}} {{$.user.Last}},</p>
	<p>You recently requested to reset your password for your <i>{{$.site_name}}</i> account.
	   Use the link below to reset it.</p>
	<p><strong>This password reset is only valid for the next {{$.link_expires}}.</strong></p>
	<p class="action"><a href="{{$.link}}" class="action" target="_blank">Reset your password</a></p>
	<p>For security, this change was made from a <i>{{$.os}}</i> device using <i>{{$.browser}}</i>.
	   If you did not make this change, please ignore this mail and contact support ({{$.contact}}).</p>
	<p>Thanks,<br />
	   {{$.sig}}</p>
	<p class="alternate">If the above link does not work, please copy the below URL into your browser:<br />
	   {{$.link}}</p>
</body>
</html>
